@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-loading-bar {
    animation: loadingBar 2s linear infinite;
  }

  @keyframes loadingBar {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}